name: Build

on:
  push:
    tags:
      # "v" で始まる Tag 名の push だけをトリガーの対象にします (e.g., "v0.0.2")
      - 'v*'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            platform: mac
          - os: windows-latest
            platform: windows
          - os: ubuntu-latest
            platform: linux
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build mac installer
        if: matrix.platform == 'mac'
        run: npx electron-builder@24.13.3 --mac dmg

      - name: Build windows installer
        if: matrix.platform == 'windows'
        run: npx electron-builder@24.13.3 --win nsis

      - name: Build linux installer
        if: matrix.platform == 'linux'
        run: npx electron-builder@24.13.3 --linux AppImage

      - name: Upload build artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: electron-build-output-${{ matrix.platform }}
          path: dist/
          if-no-files-found: warn
